@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.mainSection {
  flex-grow: 1;
}
.color-nav-footer {
  background-color: #606c68;
}
.bg-boton-nav {
  background-color: #cf312b;
}
.carr {
  object-fit: cover;
  height: 60vh;
  width: 100%;
}

.text-instagram-gradient, .text-facebook-gradient {
  color: white
}
.text-instagram-gradient:hover {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-facebook-gradient:hover {
  color: #0b6dee;
}
/* .color-home{
  background-color: #e7f3f0;
} */

footer {
  position: relative;
  width: 100%;
  background-color: #606c68;
  min-height: 100px;
  /* padding: 20px 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .social_icon,
footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  flex-wrap: wrap;
}

footer .social_icon li,
footer.menu li {
  list-style: none;
}

footer .social_icon li a {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social_icon li a:hover {
  transform: translateY(-10px);
}

footer .menu li a {
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0, 75;
}

footer .menu li a:hover {
  opacity: 1;
}

footer p {
  color: #fff;
  text-align: center;
  margin-top: 1px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

footer .wave {
  position: absolute;
  top: -75px;
  left: 0;
  width: 100%;
  height: 75px;
  background: url(/wave.png);
  background-size: 1000px 100px;
}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

.iconos {
  transition: 0.5s;
}
.iconos:hover {
  transform: translateY(-10px);
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes animateWave_02 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
